.single {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;



    &-container {

        width: 50%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: block;
        overflow: hidden;
        background-color: #6209a0;
        

        .slick {
            width: 98%;
            text-align: center;
            background-color: cornflowerblue;
            position: absolute;
            transition: 2s;
            border: 4px solid black;
            transition: 2s;
        }

        .btn {
            z-index: 1;
            position: absolute;
            top: 23px;
            font-size: 20px;
            color: #6209a0;
            background: white;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.44s;
            &:hover{
            transform: scale(1.187);
            color: red;
            transition: 0.44s;
            }
        }

        .fa-circle-chevron-right {

            right: 6px;
        }

        .fa-circle-chevron-left {
            left: 6px;
        }

    }
}


.single_ {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;



    &-container2 {

        width: 50%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: block;
        overflow: hidden;
        background-color: #6209a0;
        

        .slick2 {
            width: 33%;
            text-align: center;
            background-color: cornflowerblue;
            position: absolute;
            transition: 2s;
            border: 4px solid black;
            transition: 2s;
        }

        .btn {
            z-index: 1;
            position: absolute;
            top: 23px;
            font-size: 20px;
            color: #6209a0;
            background: white;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.44s;
            &:hover{
            transform: scale(1.187);
            color: red;
            transition: 0.44s;
            }
        }

        .fa-circle-chevron-right {

            right: 6px;
        }

        .fa-circle-chevron-left {
            left: 6px;
        }

    }
}

.single_3 {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;



    &-container3 {

        width: 50%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        display: block;
        overflow: hidden;
        background-color: #6209a0;
        

        .slick3 {
            width: 33%;
            text-align: center;
            background-color: cornflowerblue;
            position: absolute;
            transition: 2s;
            border: 4px solid black;
            transition: 3s;
        }

        .btn {
            z-index: 1;
            position: absolute;
            top: 23px;
            font-size: 20px;
            color: #6209a0;
            background: white;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.44s;
            &:hover{
            transform: scale(1.187);
            color: red;
            transition: 0.44s;
            }
        }

        .fa-circle-chevron-right {

            right: 6px;
        }

        .fa-circle-chevron-left {
            left: 6px;
        }

    }
}